* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #fff;
  height: 100%;
}

.menu {
  display: flex;
  background-color: #050505;
  padding: 30px;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: wrap;
  border-bottom: 1px solid #3c3c3c;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu h1 {
  color: #d0ffe7;
  margin-right: auto;
  border-left: 3px solid #ddd;
  padding-left: 15px;
  font-size: 1.8rem;
}
.menu a {
  font-size: 16px;
  padding: 10px 18px;
  color: #ffffff;
  text-decoration: none;

  border: 1px solid #494949;
  border-radius: 12px;

  background: transparent;
  transition: 
    color 0.3s ease, 
    border-color 0.3s ease,
    background-color 0.3s ease, transform 0.2s ease;
}

/* Hover */
.menu a:hover {
  color: #050505;
  background: linear-gradient(135deg, #89ffc2, #29ab87);
  border-color: #29ab87;
  transform: translateY(-2px);
}

/* Active (clique) */
.menu a:active {
  transform: translateY(0);
}

#skill,
#sobre,
#home {
  scroll-margin-top: 250px; /* altura do menu */
}

/* Apresentação Capa */

.container {
  margin: 80px auto;
}

.apresentacao{
  padding-top: 110px;
}
.apresentacao > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 10px;
}

.apresentacao h1 {
  margin-bottom: 20px;
  
}

.apresentacao h1 span,
.developer {
  background: linear-gradient(to right, #29ab87, #fff, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  font-size: 5rem;
  font-weight: 800;
  display: block;
  line-height: 1.1;
}

.developer {
  font-size: 100px;
}

.container-apresentacao {
  width: 55%;
  padding-right: 50px;
}

.container-apresentacao p {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  margin-right: 0;
}

.foto-perfil {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-perfil img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  border: transparent;
  box-shadow: -5px -5px #d0ffe7;
}

/* Skill */

h2 {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  margin-bottom: 30px;
  color: white;
  font-size: 2.5em;
}

.container-skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 90%;
  max-width: 1400px;
  margin: 80px auto;
  padding: 10px;
}

.skill i {
  color: #d0ffe7;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.2;
}

.skill {
  min-height: 200px;
  border: 1px solid #f8e2e2;
  padding: 25px;
  border-radius: 8px;
  text-align: left;
}

/* Sobre */

.container-sobre {
  width: 90%;
  max-width: 1400px;
  margin: 80px auto;
  padding: 10px;
}

.container-sobre p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
  font-size: 25px;
  color: #ddd;
  max-width: 900px;
}

.container-sobre strong {
  color: #89ffc2;
}



@media (max-width: 768px) {
  .apresentacao > .container {
    flex-direction: column;
    text-align: center;
  }

  .container-apresentacao {
    width: 100%;
    padding-right: 0;
  }

  .foto-perfil {
    width: 100%;
    margin-top: 30px;
  }

  .container-sobre p {
    font-size: 18px;
  }
}
